*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table{
    margin: 60px auto;
}

th{
    color: #c13b00;
}

th, td, tr{
    padding: 15px 20px;
    border: 1px solid black;
    text-align: center;
}

button, .btn-cancel a{
    padding: 10px;
}

.modal-title{
    text-align: center;
    font-size: 18px;
}

.btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn > a{
    padding: 10px;
    text-decoration: none;
}

.btn-updt{
    margin-right: 20px;
    cursor: pointer;
    background-color: #288665;
    border-color: #288665;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.btn-updt:focus{
    background-color: #38b88b;
    border-color: #38b88b;
}


.btn-cancel{
    padding: 10px;
    cursor: pointer;
    background-color: red;
    border-color: red;
    color: white;
    text-decoration: none;
}

.btn-cancel:focus{
    background-color: rgb(163, 7, 7);
    border-color: rgb(163, 7, 7);
}


.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }


.modal:target {
    opacity: 1;
    pointer-events: auto;
  }


  .modal > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 15px 20px;
    background: #fff;
  }

  .fechar {
    position: absolute;
    width: 30px;
    right: 40px;
    top: -20px;
    text-align: center;
    line-height: 30px;
    margin-top: 40px;
    background: #ff4545;
    border-radius: 50%;
    font-size: 16px;
    color: white;
    text-decoration: none;
  }




  .content {
    max-width: 460px;
    margin: 15px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 15px;
    box-shadow: 0px 0px 1px black;
  }
  
  .voltar {
    width: max-content;
    display: flex;
    align-items: center;
  }
  
  .voltar:hover {
    cursor: pointer;
  }
  
  .voltar a {
    text-decoration: none;
    color: #160201;
  }
  
  .arrow-left {
    width: 35px;
  }
  
  .lock-login {
    display: flex;
    justify-content: center;
  }
  
  .image-login {
    width: 150px;
    border-radius: 50%;
  }
  
  .reserved {
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
  }
  
  .form-control {
    margin-top: 15px;
  }
  
  .boas-vindas {
    font-size: 20px;
    text-align: center;
  }
  /* 
  .formulario {
    margin-top: 15px;
  } */
  
  .controle-input {
    margin-top: 20px;
    text-align: center;
  }
  
  .campos {
    padding: 12px 10px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid gray;
  }
  
  .campos:focus {
    outline: none;
  }
  
  .forgot-password {
    margin-bottom: 10px;
  }
  
  .forgot-password > a {
    text-decoration: none;
    color: #160201;
  }
  
  .logar {
    padding: 5px;
    width: 80%;
    font-size: 20px;
    background-color: #38b88b;
    border-color: #38b88b;
    border-style: solid;
    color: white;
  }
  
  .logar:hover {
    cursor: pointer;
    background-color: #288665;
    border-color: #288665;
  }
  
  .logar:focus {
    background-color: #38b88b;
    border-color: #38b88b;
  }
  
  .create-account {
    margin-top: 20px;
  }
  
  .create-account > a {
    text-decoration: none;
    color: #160201;
  }
  
  label{
      display: block;
      text-align: left;
      margin: 15px 45px 5px 45px;
  }

  .warning {
    margin: 10px 45px 0px 45px;
    text-align: center;
    color: #0000008a;
  }

  .error{
    text-align: center;
    color: red;
    margin: 10px 45px;
  }




.not-found-img{
  max-width: 300px;
  margin: 40px auto;
}

.not-found-img img{
  width: 100%;
}


.not-found-img p{
  margin-top: 20px;
  text-align: center;
}


.not-found-img h2{
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;

}

.adapt-btn{
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
}


.btn-reserva{
  margin-top: 15px;
  padding: 5px;
  width: 80%;
  font-size: 20px;
  background-color: #38b88b;
  border-color: #38b88b;
  border-style: solid;
  color: white;
}


.btn-reserva:hover {
  cursor: pointer;
  background-color: #288665;
  border-color: #288665;
}

.btn-reserva:focus {
  background-color: #38b88b;
  border-color: #38b88b;
}